.card {
  width: calc(5 * var(--sp-xl));
  max-width: 100%;
  aspect-ratio: 1/1;

  display: flex;
  flex-direction: column;
  gap: var(--sp-3xs);
}

.info {
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
